html, body{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.plaground{
  padding: 1rem;
  box-shadow: 0 0 5px #0008;
  display: flex;
  flex-direction: column;
}
.plaground_row{
  display: flex;
  flex-direction: row;
}
.plaground input{
  margin: 0;
}
.plaground input[type="radio"]{
  accent-color: #cc3030;
}


.blink_me {
  animation: blinker .5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* add help corner */
.fpc_corner-box {
    height: 20px;
    width: 20px;
    right: 0;
    top: 0;
    position: absolute;
    overflow: visible;
  background: red;
}
.fpc_corner-box:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 133%;
    height: 133%;
}
.fpc_page-tip {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background: -webkit-linear-gradient(45deg, #ddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200, 200, 200, 0) 41%);
    display: block;
    width: 100%;
    height: 100%;
}
.fpc_page-tip:before {
    right: 100%;
    top: 0%;
    background: -webkit-radial-gradient(-180% 200%, circle, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, .2) 100%);
}
.fpc_page-tip:before, .fpc_page-tip:after {
/*     background-color: #FFF; */
    position: absolute;
    display: block;
    z-index: 2;
    border-top-right-radius: 60%;
    width: 50%;
    height: 50%;
    content: "";
}
.fpc_page-tip:after {
    top: 100%;
    right: 0%;
    background: -webkit-radial-gradient(-250% 320%, circle, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, .2) 100%);
}

.fpc_corner-contents {
    width: 125%;
    position: absolute;
    display: block;
    overflow: hidden;
    -webkit-mask: -webkit-linear-gradient(45deg, transparent 49%, #000 53%);
    top: 0;
    right: 0;
    height: 125%;
}
.fpc_corner-contents:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #eeeef4;
}
.fpc_corner-contents:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, #ddd 64%, rgba(255, 255, 255, 0.2) 66%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% 150%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
    display: block;
    width: 133%;
    height: 133%;
}
.fpc_corner-button {
    position: absolute;
    width: 4em;
    height: 4em;
    margin: 0.5rem;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #219;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    padding: 8px 5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 11px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    transition: .3s;
}

.fpc_corner-box:not(:hover) .fpc_corner-button{
  margin: 0;
  border-radius: 0;
}

.fpc_corner-button:hover{
  transform: rotate(35deg);
}

.fpc_corner-button strong {
    font-size: 2.5em;
}

/* hover */
.fpc_box:hover .fpc_page-tip:before {
	border-right: solid 1px #fff;
}
.fpc_box .fpc_corner-box:hover .fpc_page-tip:before {
	border-right: solid 2px #fff;
}
.fpc_box:hover .fpc_page-tip:after {
	border-top: solid 1px #fff;
}
.fpc_box .fpc_corner-box:hover .fpc_page-tip:after {
	border-top: solid 2px #fff;
}
.fpc_box:hover .fpc_corner-box { /* edit corner size (First animation, when the whole page is rollovered) */
/* 	height: 50px;
	width: 50px; */
}
.fpc_box .fpc_corner-box:hover { /* edit corner size (Second animation, when the corner itself is rollovered) */
	height: 100px;
	width: 100px;
}



.fpc_corner-box, .fpc_corner-contents, .fpc_page-tip {
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
}

/* popup */

.popup{
  position: absolute;
  top:0; left: 0;
  width: 100vw; height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;  
}
.popup:not(:has(#pop:checked)){
  display: none;
}
.popup .hidden{
  display:none;
}
.popup_overlay{
  position: absolute;
  top:0; left: 0;
  background: #FFF8;
  width: 100vw;
  height: 100vh;
  /**/
}

.popup_body{
  position: relative;
  padding: 0 1rem;
  background: black; color: white;
}

.popup_body a{
  color: inherit;
}